.testScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testScreen h1 {
    background-color: darkblue;
    color: lightblue;
    border-radius: 3rem;
    border-style: solid;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.testScreen button {
    border-radius: 3rem;
    font-style: italic;
    text-align: center;
}

.titleButton {
    border: none;
    font-size: 1.1rem;
    background-color: rgba(19, 26, 97, 0.459);
    width: 9rem;
    margin: 0.2rem;
    &:hover{
        background-color: rgb(33, 33, 173);
        color: lightblue;
    }
    &:hover span {
        color: lightblue;
    }
}

.arrowMarkers{
    font-style: normal;
    color: rgba(0, 0, 0, 0);
}
