
.voteButtonsContainer {
    display: flex;
    flex-direction: row;
}

.scoreDisplay {
    text-align: center;
    font-family: sans-serif;
    font-size: 3.6rem;
    font-weight: bold; 
    color:rgb(18, 31, 87);
    background-color:rgba(173, 216, 230, 0.664);
    border-radius: 3rem;
    border-style: groove;
    border-color: rgb(202, 202, 224);
    padding-bottom: 0.3rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    width: 13rem;
    margin-top: 0;
    margin: 1rem;
}

.voteButton{
    color: rgb(18, 31, 87);
    background-color: rgb(18, 31, 87);
    border-style: inset;
    border-color:rgb(19, 37, 71);
    border-radius: 3rem;
    margin: 1rem;
    margin-top: 0.5rem;
    width: 3rem;
    height: 3rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    &:hover {
        background-color:rgba(173, 216, 230, 0.712);
    }
    &:active {
        background-color:rgba(139, 188, 204, 0.712);
        border-color:rgb(210, 210, 243);
    }
}

.lockedVote {
    background-color:rgba(173, 216, 230, 0.712);
    border-color:rgb(210, 210, 243);
    &:hover {
        background-color:rgba(173, 216, 230, 0.712);
        border-color:rgb(210, 210, 243);
    }
}

.voteButton img {
    width: 2.5rem;
    height: 2.5rem;
}

.blueText {
    color:rgb(18, 31, 87)
}

.invisibleText {
    color:rgba(0, 0, 0, 0);
}

