.answerButton {
    border-radius: 3rem;
    border-style: solid;
    border-width: 0.15rem;
    border-color: lightblue;
    color: lightblue;
    background-color: rgba(19, 26, 97);
    font-size: 1.3rem;
    width: 16rem;
    margin: 0.5rem;
    &:hover{
        border-color: rgb(221, 149, 42);
        background-color:rgb(23, 32, 133);
        color: rgb(221, 149, 42);
    }
    &:hover span {
        color: rgb(221, 149, 42);
    }
}

.answerDisplay {
    display: inline-block;
    border-style: solid;
    border-width: 0.15rem;
    border-radius: 3rem;
    font-size: 1.3rem;
    font-style: italic;
    text-align: center;
    background-color: rgba(19, 26, 97, 0.459);
    color: white;
    width: 16rem;
    margin: 0.5rem;
}

.greenText {
    color: rgb(19, 196, 78);
    background-color: rgba(19, 26, 97);
}

.redText {
    color: rgb(243, 56, 43);
    background-color:rgba(19, 26, 97);
}
