nav {
    background-color: rgb(0, 135, 227);
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

button {
    border-radius: 3rem;
    font-family: sans-serif;
    font-style: italic;
    text-align: center;
    border: none;
    font-size: 1.1rem;
    background-color: rgba(19, 26, 97, 0.459);
    width: 9rem;
    margin: 0.2rem;
    &:hover{
        background-color: rgb(33, 33, 173);
        color: lightblue;
    }
    &:hover span {
        color: lightblue;
    }
}

nav button {
    border-style: inset;
    border-color: rgb(54, 54, 90);
    margin: 0.7rem;
    border-radius: 1rem;
    border-width: 0.20rem;
    width: 12rem;
    height: 2rem;
    font-size: 1.1rem;
    background-color: rgb(12, 63, 175);
    color: lightcyan;
    &:hover {
        background-color: lightskyblue;
        color: rgb(12, 63, 175);
    }
    &:active {
        background-color: black;
        color: lightblue;
    }
}

p {
    font-weight: bold;
}

main {
    width: 90%;
}

footer {
    background-color: rgba(2, 2, 2, 0.336);
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    width: 100%;
    text-align: center;
    font-style: italic;
    color: white;
}

input[type="text"] {
    all: unset;
    text-align: left;
    text-overflow: ellipsis;
    width: 85%;
}

input[type=number] {
    text-align: center;
    font-size: 1rem;
    width: 3rem;
    margin: 0.1rem;
    &::-webkit-inner-spin-button{
        opacity:1;
    } 
}

.mini-button {
    border-style: none;
    background-color: red;
    color: white;
    padding: 0;
    margin: 0.1rem;
    width: 1.1rem;
    font-style: unset;
    font-weight: initial;
    font-size: 0.9rem;
    border-radius: 0rem;
    &:hover {
        background-color: rgb(216, 83, 83);
        color: red;
    }
    &:active {
        background-color: rgb(165, 17, 17);
    }
    
}
    
